
@{
    Layout = null;
}


<div class="col-sm-6 EditCategory" style="display:none;padding: 15px;">
    <div class="form-group">
        <h3>Edit Category</h3>
    </div>
    <div class="form-group">
        <input type="text" readonly class="form-control" id="idCate" required="" />
    </div>
    <div class="form-group">
        <input type="text" placeholder="Name Category" class="form-control" id="nameCateUpdate" required="" />
    </div>
    <button class="btn btn-primary backShow">Back</button>&nbsp;&nbsp; <button class="btn btn-success UpdateCate" data-id="">Update</button>
</div>
